# 숫자형

type() : 자료형을 알아낼 때 사용

-int:숫자형(integer)

-float:실수형(floating point)

In [1]:
a = 1

print(type(a))

<class 'int'>

In [1]:
a = 1.23

print(type(a))

<class 'float'>

In [3]:
a = 4.24e10

print(type(a))
print(a)

<class 'float'>
42400000000.0

## 숫자형 연산

+: 덧셈

*: 곱셈

** : 제곱

/ : 나누기

// : 몫

% : 나머지

In [4]:
a = 3
b = 4

print(a+b)

7

In [5]:
a = 3
b = 4

print(a*b)

12

In [6]:
a = 3
b = 4

print(a/b)

0.75

In [7]:
a = 3
b = 4

print(a//b)

0

In [8]:
a = 3
b = 4

print(a%b)

3

In [9]:
a = 3
b = 4

print(a**b)

81

# 문자열

- class : str (string)

"Hello world"

'Python is fun'

"""Life is too short, You need python"""

'''Life is too short, You need python'''

In [11]:
a = "Hello world"

print(a)
print(type(a))

Hello world
<class 'str'>

In [12]:
# 따옴표가 겹쳐 오류

a = 'Python's favorite food is perl'

print(type(a))

SyntaxError: invalid syntax (2047725025.py, line 1)

In [14]:
a = "Python's favorite food is perl"

print(a)

Python's favorite food is perl

In [15]:
# \(백슬래쉬)를 이용하여 출력시킬 수 있음

a ='Python\'s favorite food is perl'

print(a)

Python's favorite food is perl

In [16]:
# \n 을 이용하여 줄바꿈

a = 'Life is too short\nYou need python'

print(a)

Life is too short
You need python

In [18]:
# """(''') 의 장점은 이스케이프 문자를 쓰지 않아도 줄바꿈과 띄어쓰기를 모두 인식한다.

a = """Life is too short
You need python

kkk
k k k
          hhaha
"""

print(a)

Life is too short
You need python

kkk
k k k
          hhaha

In [19]:
a = '''Life is too short
You need python

kkk
k k k
          hhaha
'''

print(a)

Life is too short
You need python

kkk
k k k
          hhaha

## 문자열 연산

+: 문자열 붙여서 출력, **only문자열X문자열**

*: 해당 문자열 곱한만큼 출력   \\문자열X숫자형 가능\\

In [20]:
a = "Python"
b = " is fun!"

print(a+b)

Python is fun!

In [21]:
a = "Python"
b = " is fun!"

print(a*100)

PythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [25]:
a = "Python"
b = " is fun!"
c = 3

print(a*c)
# ---
print(a+c)

PythonPythonPython

TypeError: can only concatenate str (not "int") to str

## 인덱싱(Indexing)

앞에서부터 : 0, 1, 2, 3 ---

뒤에서부터 : -1, -2, -3, ---

In [28]:
# a[n] : n번째에 해당하는 문자 출력

a = "Life is too short, You need python"

print(a[0])
print(a[1])
print(a[-3])

L
i
h

## 슬라이싱(Slicing)

[ 이상 : 미만 : 간격 ] 값을 출력

In [30]:
a = "Life is too short, You need python"

print(a[0:4])

Life

In [32]:
# 이상/미만 값만 표현할 수 있음

a = "20010331Rainy"

print(a[:8])
print(a[8:])

20010331
Rainy

In [33]:
a = "12345678"

print(a[::2])

1357

In [39]:
a = "Life is too short, You need python"

print(a[:4:2])
print(a[::4])
print(a[::-2])
print(a[::-1])

Lf
L tstoepo
nhy enuY,rh o iei
nohtyp deen uoY ,trohs oot si efiL

## 포매팅

%s : 문자열 (+숫자형, 실수형에도 사용가능)

%d : 숫자형

%f : 실수형

In [1]:
a = "I eat %d apples." %3
b = "I eat " + str(3) + " apples"

print(a)
print(b)

I eat 3 apples.
I eat 3 apples

In [3]:
number = 10
day = "three"
a = "I ate %d apples. so I was sick for %s days." %(number, day)

print(a)

I ate 10 apples. so I was sick for three days.

In [4]:
# %s 에는 문자열뿐만 아니라 다 들어감

number = 10
day = "three"
a = "I ate %s apples. so I was sick for %s days." %(1.2, day)

print(a)

I ate 1.2 apples. so I was sick for three days.

In [6]:
a = "ㅋㅋ나도 {} 갈래" .format("파크")

print(a)

ㅋㅋ나도 파크 갈래

In [10]:
a = "ㅋㅋ나도 {number}{place}{number}갈래" .format(place="파크",number=2)

print(a)

ㅋㅋ나도 2파크2갈래

In [12]:
name = "int"
a = f"나의 이름은 {name}입니다"

print(a)

나의 이름은 int입니다

In [14]:
name = "int"
a = "나의 이름은 {}입니다" .format(name)

print(a)

나의 이름은 int입니다

## 정렬과 공백

In [15]:
a = "%10s" %"hi"

print(a)

        hi

In [16]:
a = "%-10sjane." %'hi'

print(a)

hi        jane.

## 소수점 표현

In [18]:
a = "%0.4f" %3.42134234

print(a)

3.4213

## 문자열 개수 세기

In [20]:
a = "hobby"

print(a.count('b'))

2

## 위치 알려주기

In [22]:
# 제일 먼저 찾은 문자의 인덱스를 알려줌
a = "hobby"

print(a.find('b'))
print(a.find('x')) # 없으면 -1이라고 나옴

2
-1

## 문자열 삽입

In [24]:
a = ","

print(a.join('abcd'))

b = "," .join("abcd")

print(b)

a,b,c,d
a,b,c,d

## 소문자를 대문자로, 대문자를 소문자로 / 공백지우기

In [28]:
a = "hi"
print(a.upper())

b = "HI"
print(b.lower())

HI
hi

In [29]:
a = " hi "
print(a.strip())

hi

## 문자열 바꾸기

In [30]:
a = "Life is too short"

print(a.replace("Life", "Your leg"))

Your leg is too short

## 문자열 나누기

In [31]:
# 띄어쓰기 기준으로 자름
a = "Life is too short"

print(a.split())

['Life', 'is', 'too', 'short']

In [33]:
# : 기준으로 자름
a = "Life:is:too:short"

print(a.split(":"))

['Life', 'is', 'too', 'short']